# Dependencies
node_modules/

# Build outputs
dist/
build/
*.exe
*.msi
*.dmg
*.AppImage
*.deb
*.rpm

# Tauri
src-tauri/target/
src-tauri/gen/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Cache
.cache/
*.tsbuildinfo

# Test
test-results/
.vs/Paddyngton.slnx/FileContentIndex/7bd6fa80-9c57-4df8-8b7c-c998b7569a60.vsidx
.vs/Paddyngton.slnx/v18/.wsuo
.vs/Paddyngton.slnx/v18/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
tests/app.spec.js
tests/mindmap.spec.js
tests/README.md
